// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu{
	background-color: #088A29;
	.cuadro_imagen_usuario{
		padding-right: 10px;
	}
	.cuadro_usuario{
		color: white;
		margin-top: 13px;
		font-size: 13px;
	}
}
