<div class="row">
  <div class="small-12 columns">
  	<h1>Marca </h1><h3><small>Productos de Marca <%= @categoria.nombre %></small></h3>
		
		<br>
		<% @categoria_productos.each do |producto| %>
			</br>
			<%= link_to producto.nombre, action: :ver_producto, nombre_clave: producto.nombre_clave %>
			<br>
		<% end %>
		<br>
	</div>
</div>